
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_HomeMasterPage.cshtml";
}
@using MVC.Models;
@model List<Mehsullar>
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2>accessories <span>store</span></h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="~/Home/Index">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">store</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- shop-area -->
<section class="shop-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-4 col-sm-6">
                <div class="accessories-item text-center mb-80">
                    <div class="accessories-thumb mb-30">
                        <a href="#"><img src="~/assets/images/Mehsullar/@item.MehsulShekil" alt=""></a>
                    </div>
                    <div class="accessories-content">
                        <h5><a href="#">@item.MehsulAd</a></h5>
                        <span>Qiyməti: @item.MehsulQiymet ₼</span>
                        <a href="#" class="shop-add-action">Add to cart</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- shop-area-end -->
