
@{
    ViewBag.Title = "UpcomingGames";
    Layout = "~/Views/Shared/_HomeMasterPage.cshtml";
}

<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2>Upcoming <span>Games</span></h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Games</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- upcoming-games -->
<section class="upcoming-games-area upcoming-games-bg pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="upcoming-game-item mb-40">
                    <div class="upcoming-game-head">
                        <div class="uc-game-head-title">
                            <span>SEPTEMBER 22, 2020</span>
                            <h4><a href="#">zombie land</a></h4>
                        </div>
                        <div class="uc-game-price">
                            <h5>$19</h5>
                        </div>
                    </div>
                    <p>Compete with players remote island winner takes showdown known issue.</p>
                    <div class="upcoming-game-thumb">
                        <img src="~/Content/img/images/upcoming_game_thumb01.jpg" alt="">
                        <div class="upcoming-game-cart">
                            <a href="#" class="btn transparent-btn"><i class="fas fa-shopping-basket"></i>BUY Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="upcoming-game-item mb-40">
                    <div class="upcoming-game-head">
                        <div class="uc-game-head-title">
                            <span>SEPTEMBER 22, 2020</span>
                            <h4><a href="#">call of duty</a></h4>
                        </div>
                        <div class="uc-game-price">
                            <h5>$19</h5>
                        </div>
                    </div>
                    <p>Compete with players remote island winner takes showdown known issue.</p>
                    <div class="upcoming-game-thumb">
                        <img src="~/Content/img/images/upcoming_game_thumb02.jpg" alt="">
                        <div class="upcoming-game-cart">
                            <a href="#" class="btn transparent-btn"><i class="fas fa-shopping-basket"></i>BUY Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="upcoming-game-item mb-40">
                    <div class="upcoming-game-head">
                        <div class="uc-game-head-title">
                            <span>SEPTEMBER 22, 2020</span>
                            <h4><a href="#">sky hunter</a></h4>
                        </div>
                        <div class="uc-game-price">
                            <h5>$19</h5>
                        </div>
                    </div>
                    <p>Compete with players remote island winner takes showdown known issue.</p>
                    <div class="upcoming-game-thumb">
                        <img src="~/Content/img/images/upcoming_game_thumb03.jpg" alt="">
                        <div class="upcoming-game-cart">
                            <a href="#" class="btn transparent-btn"><i class="fas fa-shopping-basket"></i>BUY Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="upcoming-game-item mb-40">
                    <div class="upcoming-game-head">
                        <div class="uc-game-head-title">
                            <span>SEPTEMBER 22, 2020</span>
                            <h4><a href="#">NEW RELEASED!</a></h4>
                        </div>
                        <div class="uc-game-price">
                            <h5>$19</h5>
                        </div>
                    </div>
                    <p>Compete with players remote island winner takes showdown known issue.</p>
                    <div class="upcoming-game-thumb">
                        <img src="~/Content/img/images/upcoming_game_thumb04.jpg" alt="">
                        <div class="upcoming-game-cart">
                            <a href="#" class="btn transparent-btn"><i class="fas fa-shopping-basket"></i>BUY Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="upcoming-game-item mb-40">
                    <div class="upcoming-game-head">
                        <div class="uc-game-head-title">
                            <span>SEPTEMBER 22, 2020</span>
                            <h4><a href="#">NEW RELEASED!</a></h4>
                        </div>
                        <div class="uc-game-price">
                            <h5>$19</h5>
                        </div>
                    </div>
                    <p>Compete with players remote island winner takes showdown known issue.</p>
                    <div class="upcoming-game-thumb">
                        <img src="~/Content/img/images/upcoming_game_thumb05.jpg" alt="">
                        <div class="upcoming-game-cart">
                            <a href="#" class="btn transparent-btn"><i class="fas fa-shopping-basket"></i>BUY Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="upcoming-game-item mb-40">
                    <div class="upcoming-game-head">
                        <div class="uc-game-head-title">
                            <span>SEPTEMBER 22, 2020</span>
                            <h4><a href="#">NEW RELEASED!</a></h4>
                        </div>
                        <div class="uc-game-price">
                            <h5>$19</h5>
                        </div>
                    </div>
                    <p>Compete with players remote island winner takes showdown known issue.</p>
                    <div class="upcoming-game-thumb">
                        <img src="~/Content/img/images/upcoming_game_thumb06.jpg" alt="">
                        <div class="upcoming-game-cart">
                            <a href="#" class="btn transparent-btn"><i class="fas fa-shopping-basket"></i>BUY Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming-games-end -->
<!-- latest-match-area -->
<section class="latest-match-area latest-match-bg pt-115 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title title-style-three white-title text-center mb-70">
                    <h2>gaming Latest <span>matches</span></h2>
                    <p>
                        Compete with 100 players on a remote island for winner takes showdown
                        known issue where certain skin strategic
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="latest-match-box mb-30">
                    <div class="latest-match-thumb">
                        <img src="~/Content/img/images/latest_match_thumb01.jpg" alt="">
                    </div>
                    <div class="tournament-schedule-content">
                        <h3><a href="#">Forza <span>Horizon ii</span></a></h3>
                        <p>Find tecology people for digital projects in public There are many variations.</p>
                        <div class="tournament-schedule-meta">
                            <h5>price : <span>$125,00</span></h5>
                            <a href="#">Joining</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="latest-match-box mb-30">
                    <div class="latest-match-thumb">
                        <img src="~/Content/img/images/latest_match_thumb02.jpg" alt="">
                    </div>
                    <div class="tournament-schedule-content">
                        <h3><a href="#">shooting <span>land</span></a></h3>
                        <p>Find tecology people for digital projects in public There are many variations.</p>
                        <div class="tournament-schedule-meta">
                            <h5>price : <span>$125,00</span></h5>
                            <a href="#">Joining</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="latest-match-box mb-30">
                    <div class="latest-match-thumb">
                        <img src="~/Content/img/images/latest_match_thumb03.jpg" alt="">
                    </div>
                    <div class="tournament-schedule-content">
                        <h3><a href="#">Thanos <span>Sky ii</span></a></h3>
                        <p>Find tecology people for digital projects in public There are many variations.</p>
                        <div class="tournament-schedule-meta">
                            <h5>price : <span>$125,00</span></h5>
                            <a href="#">Joining</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="latest-match-box mb-30">
                    <div class="latest-match-thumb">
                        <img src="~/Content/img/images/latest_match_thumb04.jpg" alt="">
                    </div>
                    <div class="tournament-schedule-content">
                        <h3><a href="#">Call Of <span>Duty ii</span></a></h3>
                        <p>Find tecology people for digital projects in public There are many variations.</p>
                        <div class="tournament-schedule-meta">
                            <h5>price : <span>$125,00</span></h5>
                            <a href="#">Joining</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest-match-area-end -->
<!-- inner-about-area -->
<section class="inner-about-area inner-about-padding fix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                <div class="inner-about-img">
                    <img src="~/Content/img/images/inner_about_img01.png" class="wow fadeInRight" data-wow-delay=".3s" alt="">
                    <img src="~/Content/img/images/inner_about_img02.png" class="wow fadeInLeft" data-wow-delay=".6s" alt="">
                    <img src="~/Content/img/images/inner_about_img03.png" class="wow fadeInUp" data-wow-delay=".6s" alt="">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="section-title title-style-three mb-25">
                    <h2>released <span>GAMES</span></h2>
                </div>
                <div class="inner-about-content">
                    <h5>Monica Global Publishing for Marketing</h5>
                    <p>
                        Compete with 100 players on a remote Lorem Ipsn gravida. Pro ain gravida nibh vel velit an auctor aliqueenean
                        ollicitudin ain gravida nibh vel version an ipsum.
                    </p>
                    <p>Lorem Ipsn gravida. Pro ain gravida nibh vevelit auctor aliqueenean ollicitudin ain gravida nibh vel version an ipsum.</p>
                    <a href="#" class="btn btn-style-two">BUY THEME</a>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-about-shape"><img src="~/Content/img/images/medale_shape.png" alt=""></div>
</section>
<!-- inner-about-area-end -->
